
.sidebar {
    width: 25%;
    max-width: 210px;
    min-width: 150px;
    position: fixed;
    z-index: 100;
    margin-left: 15px;
    top:100px ;
    background-color: #111;
    border-radius: 4px;
    padding: 10px;
    
}

.sidebar h2 {
    color: #fff;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.sidebar ul li a {
    margin-bottom: 15px;
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 10px 5px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #fff;
    color: #333;
    border-color: #333;
}


